services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: tutor_management
      MYSQL_ROOT_PASSWORD: root_password_vps
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: spring_backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/tutor_management?rewriteBatchedStatements=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root_password_vps
      APP_INIT-DATA_ENABLED: "false"
      SPRING_PROFILES_ACTIVE: prod

  frontend:
    build: ./frontend
    container_name: nextjs_frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      # URL Backend để gọi API từ trình duyệt
      NEXT_PUBLIC_API_URL: http://localhost:8080
    depends_on:
      - backend

volumes:
  db_data: