# MySQL Database Configuration
spring:
  datasource:
    # URL cơ sở dữ liệu
    url: jdbc:mysql://localhost:3315/tutor_management?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    # Tên người dùng MySQL
    username: root
    # Mật khẩu MySQL
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  # File upload configuration
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: tonquynhlong05@gmail.com
    password: ioby qhsi cuoi lwmu
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

app:
  mail:
    from: tonquynhlong@gmail.com
    from-name: Thầy Quỳnh Long

# File storage location
file:
  upload-dir: uploads

# JWT Configuration
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970337336763979244226452948404D635166546A576E5A7234753778214125442A
  expiration: 86400000
  refresh-expiration: 604800000

# Server Configuration
server:
  # Cổng của ứng dụng Spring Boot
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

# CORS Configuration (cho phép tất cả origins vì chỉ bạn dùng)
cors:
  allowed-origins: '*'

# Logging
logging:
  level:
    com:
      tutormanagement: DEBUG
    org:
      springframework:
        security: DEBUG